/*01. General CSS
*{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

body{
  background-color: #FFFCF9;
  font-family: 'Poppins', sans-serif;
}
*/

.spacerTop{
  margin-top: 50px;
}

.spacerBtm{
  margin-bottom: 50px;
}

.spacerBoth{
  margin-top: 50px;
  margin-bottom: 50px;
}

.homeContainer{
  margin-top: 25px;
}

/* .contentWrapper{
  /* width: 90%; 
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  display: grid;    USANDO FLEX EN LUGAR DE GRID
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
  "header"
  "hero"
  "servicios"
  "blog"
} */

/* footer{
  background-color: #777777;
  color: #FFFCF9;
} 

p{
  color: #252525;
  font-weight: 300;
  font-size: 16px;
}
*/

/*02. Headings*/

/* h1{
  color: #26547C;
  font-weight: 700;
  font-size: 112px;
  line-height: 100px;
  grid-area: heading;
  align-self: center;
} 

h2{
  color: #EF476F;
  font-weight: 700;
  font-size: 56px;
  text-transform: uppercase;
  margin-top: 35px;
  margin-bottom: 35px;
}

h3{
  color: #06D6A0;
  font-weight: 400;
  font-size: 34px;
  line-height: 45px;
}
*/
h4{
  font-size: 24px;
  font-weight: 300;
}

.plan-heading{
  color: #FFFCF9;
  font-weight: 700;
  font-size: 34px;
  font-style: italic;
  line-height: 45px;
}

/*03. Sections & Elements*/

/* .logo{
  background-image: url(../img/logo@2x.png);
  height: 90px;
  width: 250px;
  background-size: contain;
} */

/* #menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
}

#menu ul{
  list-style: none;
}

#menu li{
  display: inline-block;
  position: relative;
}

#menu li>a{
  color: #EF476F;
  text-decoration: none;
  padding: 10px 20px 10px 0px;
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
} */

/* #menu li :hover{
  transform: scale(1.05,1.05);
} */

/* #menu ul ul{
  position: absolute;
  display: none;
} */
/* 
#menu ul li:hover ul{
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
  padding-left: 10px;
  transform: scale(1.0,1.0);
} */

#hero{
  margin-top: 35px;
  margin-bottom: 35px;
  height: 60vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 40vh 10vh 10vh;
  grid-column-gap: 50px;
  grid-template-areas:
  "imgHero heading"
  "imgHero subheading"
  "imgHero cta"
}

#servicios{
  margin-top: 70px;
  animation-delay: 1s;
}

#blog{
  margin-top: 70px;
  margin-bottom: 70px;
  animation-delay: 2s;
}

/* .aboutMeContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
} */

.aboutMeContainer p{
  font-size: 20px;
  line-height: 24px;
}

.heroImg{
  width: 100%;

}

.videoContainer{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

.introText{
  font-size: 18px;
  line-height: 20px;
}

.serviceContainer{
  margin: 75px 0px;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.serviceItem{
/*   width: 33.33%;
  height: 450px; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.icon{
  height: 75px;
  width: 75px;
  align-self: center;
  margin: 25px;
}

.icon:hover{
  transform: scale(1.1, 1.1);
}

.serviceTitle{
  color: #EF476F;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
  text-align: center;
}

.serviceDescription{
  text-align: left;
  margin-bottom: 20px;
  padding: 0px 20px;
  line-height: 18px;
  align-self: center;
}

.serviceCTA{
  font-size: 20px;
  text-align: center;
  width: 250px;
  background-color: #06D6A0;
  align-self: center;
  padding: 20px;
  margin-bottom: 25px;
}

.serviceCTA a{
  text-decoration: none;
  color: #fff;
}

#blog h3{
  margin-bottom: 25px;
  font-size: 25px;
  line-height: 30px;
  min-height: 7vh;
}

#aboutVideos{
  margin: 35px 0px 75px 0px;
}

#aboutVideos p{
  margin-top: 15px;
  margin-bottom: 25px;
}

#tarifas{
  margin: 35px 0px 75px 0px;
}

#contactForm{
  margin: 75px 0px 75px 0px;
}

#contactForm p{
  margin-top: 35px;
  margin-bottom: 35px;
}

/* form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 400px;
  align-content: space-around;
}

form label{
  padding-bottom: 15px;
  padding-top: 15px;
  font-size: 20px;
}

form input{
  height: 25px;
  font-weight: 300;
  color: #26547C;
  margin-bottom: 15px;
  font-size: 24px;
  padding: 10px;
}

form select{
  height: 45px;
  font-weight: 300;
  padding: 10px;
}

form button{
  padding: 10px 5px 10px 5px;
  margin: 15px 10px 15px 10px;
  width: 50%;
} */

.thumbnailImg{
  width: 100%;
  margin-bottom: 10px;
}

.threeColumnContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

/*.threeColumnContainer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
}*/

.thirdWrapper{
  display: flex;
  flex-direction: column;
/*  width: 50%;
  max-width: 400px;
  margin: 0px auto;*/
}

.thirdWrapper p{
  margin-top: 15px;
  margin-bottom: 25px;
  padding-right: 15px;
}

.footerContainer{
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 35px 0px;
/*  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas:
  "footerColumn footerColumn footerColumn"*/
}

.footerTop{
  width: 100%;
  grid-area: footerTop;
}

/* .logoFooter{
  height: 45px;
  margin-bottom: 25px;
} */

/* .footerColumn{
  width: 95%;
  max-width: 400px;
  margin: 0px auto;
  padding: 35px 25px 20px 25px;
} */

.footerBottom{
  background-color: #252525;
  color:#FFFCF9;

}

.footerBtmContainer{
  width: 90%;
  max-width: 1200px;
  margin: 0px auto;
  padding: 35px 0px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footerBottom ul{
  list-style: none;
  /*
  display: flex;
  flex-direction: row;*/
}

.footerBottom ul li{

  padding: 5px 0px 5px 15px;
} 

.footerBottom a{
  color: #fff;
}

.footerBottom a:hover{
  color: #EF476F;
}

.pricingTable{
  background-color: #FFD166;
  width: 400px;
  padding: 25px;
  margin: 35px 15px 35px 15px;
}

.tarifasContainer{
  display: flex;
  justify-content: space-evenly;
}

.heroImgHome{
  background-image: url(../img/foto-gonzalo.JPG);
  grid-area: imgHero;
  background-size: cover;
  background-position: center-top;
}

.favVideos{
  width: 100%;
}

/*04. Buttons*/

/* .button{
  background-color: #EF476F;
  border: none;
  width: 160px;
  height: 50px;
  padding: 10px 20px 10px 20px;
  font-size: 24px;
  text-align: center;
  align-self: end;
  grid-area: cta;
}

.button:hover{
  background: linear-gradient(45deg, rgba(239,71,111,1) 30%, rgba(255,209,102,1) 100%);
  transition-delay: 2s;
}

.button a{
  color: #fff;
  text-decoration: none;
} */

/*05. Text */

.price{
  color: #EF476F;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
}

/* .heroTagline{
  font-size: 34px;
  margin-bottom: 50px;
  margin-top: 25px;
  grid-area: subheading;
  align-self: center;
} */

.formCTA{
  background-color: #EF476F;
  border: none;
  width: 160px;
  height: 50px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  text-align: center;
  align-self: end;
  margin-right: 15px;
}

.formCTA:hover{
  background-color: #06D6A0;
}

.formReset{
  background-color: #777777;
  border: none;
  width: 160px;
  height: 50px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  text-align: center;
  align-self: end;
}

.formReset:hover{
  background-color: #252525;
}

/*05. Responsive Design*/

/*Tablets*/
@media only screen and (max-width: 768px) {
  header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
  }

  #menu{
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  #hero{
    grid-column-gap: 25px;
  }

  .heroImgHome{
    min-width: 350px;
    background-position: right;
  }

  h1{
    font-size: 80px;
    line-height: 75px;
  }

  .heroTagline{
    font-size: 30px;
    line-height: 30px;
  }

  .threeColumnContainer{
    flex-direction: column;
  }

  .thirdWrapper p{
    padding: 0px;
  }

  #blog h3{
    min-height: 0;
  }

  .footerColumn p{
    font-size: 12px;
  }

  .footerColumn h4{
    font-size: 16px;
  }

  .footerBtmContainer{
    align-items: center;
  }
}

/*Mobile*/
@media only screen and (max-width: 480px) {

  #hero{
    height: 90vh;
    grid-template-columns: 100%;
    grid-template-rows: 45vh 25vh 10vh 10vh;
    grid-template-areas:
    "imgHero"
    "heading"
    "subheading"
    "cta"
  }

  h1{
    font-size: 55px;
    line-height: 45px;
  }

  .heroImgHome{
    background-position: center top;
  }

  .footerContainer{
    flex-direction: column;
  }

  .footerColumn{
    padding: 15px;
  }

  .footerColumn p{
    font-size: 14px;
  }

  .footerBtmContainer ul{
    flex-direction: column;
    align-items: center;
  }

  .footerBtmContainer ul li{
    padding-left: 0;
  }
}