// Colores
@import "colores";

// General
*{
    margin: 0;
    padding: 0;
  }
  
a{
    text-decoration: none;
  }
  
body{
    background-color: #FFFCF9;
    font-family: 'Poppins', sans-serif;
}

p{
    color: $gray-dark;
    font-weight: 300;
    font-size: 16px;
}

h2{
    color: #EF476F;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  
  h3{
    color: #06D6A0;
    font-weight: 400;
    font-size: 34px;
    line-height: 45px;
    margin: 1em 0em;
  }

  h4{
    font-size: 24px;
    font-weight: 300;
  }
.button{
    background-color: #EF476F;
    border: none;
    width: 160px;
    height: 50px;
    padding: 10px 20px 10px 20px;
    font-size: 1.5em;
    line-height: 1.5em;
    text-align: center;
    align-self: end;
    border-radius: 4em;
    &:hover{
        background: linear-gradient(45deg, rgba(239,71,111,1) 30%, rgba(255,209,102,1) 100%);
        transition-delay: 2s;
    }
    a{
        color: #fff;
        text-decoration: none;
    }
}

.spacerTop{
    margin-top: 50px;
  }
  
  .spacerBtm{
    margin-bottom: 50px;
  }
  
  .spacerBoth{
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .homeContainer{
    margin-top: 25px;
  }

// Header
.header{
    margin-top: 10px;
}

.header__logo{
    height: 80px;
}

.header__menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    ul{
        list-style: none;
        
        ul{
            position: absolute;
            display: none;
        }

        li{
            display: inline-block;
            position: relative;
            z-index: 999;
            &:hover{
                transform: scale(1.05,1.05);
                ul{
                    display: block;
                    background-color: rgba(0,0,0,0.8);
                    padding-left: 10px;
                    transform: scale(1.0,1.0);
                }
            }
            a{
                color: $pink;
                text-decoration: none;
                padding: 10px 20px 10px 0px;
                font-size: 22px;
                font-weight: 700;
                text-transform: uppercase;
                display: block;
            }
        }
    }
    .nav-link:hover{
        color: $pink;
    }
}

// Página de Inicio

.hero{
    margin: 20px auto;
}

.hero__title{
    color: #26547C;
    font-weight: 700;
    font-size: 112px;
    line-height: 100px;
    align-self: center;
}

.hero__tagline{
    font-size: 34px;
    margin-bottom: 50px;
    margin-top: 25px;
    align-self: center;
}

.hero__button{
    height: 60px;
    line-height: 45px;
}

.card__sectionTitle{
    color: #EF476F;
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
    margin-top: 35px;
    margin-bottom: 45px;
}

.card__image{
    width: 100%;
    margin-bottom: 10px;
    margin-bottom: 25px;
    border-top-right-radius: 4em;
    border-bottom-left-radius: 4em;
    -webkit-box-shadow: 7px 7px 20px 7px rgba(0,0,0,0.25); 
    box-shadow: 7px 7px 20px 7px rgba(0,0,0,0.25);
}

.card__title{
    color: #06D6A0;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 25px;
}

.carousel{
    z-index: auto;
}

.carousel-inner{
    border-top-right-radius: 4em;
    border-bottom-left-radius: 4em;
    -webkit-box-shadow: 7px 7px 20px 7px rgba(0,0,0,0.25); 
	box-shadow: 7px 7px 20px 7px rgba(0,0,0,0.25);

}

// Footer
.footer{
    background-color: $gray-light;
    color: $white;
}

.footer__logo{
    height: 45px;
    margin-bottom: 25px;
}

.footer__column{
    padding-top: 50px;
    padding-bottom: 50px;
    a p:hover{
        font-weight: 500;
    }
}

.footerBottom{
    background-color: #252525;
    color:#FFFCF9;
  
  }
  
  .footerBtmContainer{
    width: 90%;
    max-width: 1200px;
    margin: 0px auto;
    padding: 35px 0px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .footerBottom ul{
    list-style: none;
    /*
    display: flex;
    flex-direction: row;*/
  }
  
  .footerBottom ul li{
  
    padding: 5px 0px 5px 15px;
  } 
  
  .footerBottom a{
    color: #fff;
  }
  
  .footerBottom a:hover{
    color: #EF476F;
  }

// Blog & Artículos
$alto: 400px;

.blog__banner{
    background: linear-gradient(45deg, rgba(239,71,111,0.5) 0%, rgba(6,214,160,0.5) 100%), url(https://images.pexels.com/photos/1092671/pexels-photo-1092671.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    width: 100%;
    height: $alto*2;
    margin-bottom: 50px;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-right-radius: 4em;
    border-bottom-left-radius: 4em;
    -webkit-box-shadow: 7px 7px 20px 7px rgba(0,0,0,0.25); 
    box-shadow: 7px 7px 20px 7px rgba(0,0,0,0.25);
}

.blog__banner__title{
    color: $white;
    font-size: 80px;
    text-align: center;
    justify-content: center;
}

.blog__article__container{
    padding-right: 100px;
}

.blog__article{
    margin-bottom: 75px;
    p{
        margin-bottom: 25px;
    }
}

.blog__article__img{
    height: $alto;
    background-position: center;
    width: 100%;
    object-fit: cover;
    margin-bottom: 25px;
    border-top-right-radius: 4em;
    border-bottom-left-radius: 4em;
    -webkit-box-shadow: 7px 7px 20px 7px rgba(0,0,0,0.25); 
    box-shadow: 7px 7px 20px 7px rgba(0,0,0,0.25);
}

.blog__sidebar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.blog__banner__date{
    color: $white;
    font-size: 18px;
    text-align: center;
}

.blog__author{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $gray-dark;
    padding: 50px 20px;
    border-radius: 4em;
}

.blog__author__img{
    width: $alto/2;
    border-radius: 100%;
}

.blog__author__name{
    color: $pink;
    text-align: center;
    margin: 20px 0px;
}

.blog__author__bio{
    text-align: center;
    color: $white;
}

.blog__categories{
    display: flex;
    flex-direction: column;
    background-color: $pink;
    padding: 50px 20px;
    align-items: flex-start;
    width: 100%;
    margin-top: 50px;
    padding-left: 3em;
    align-content: start;
    border-radius: 4em;
}

.blog__sidebar__title{
    color: $white;
    margin-bottom: 1em;
}

.blog__categories__list{
    list-style-type: none;
    li{
        margin-bottom: 0.5em;
        margin-top: 0.5em;
    }
    
    a{
        color: $gray-dark;
        &:hover{
            color: $white;
        }
    }
}

.blog__tags{
    background-color: $green;
    padding: 50px 20px;
    width: 100%;
    margin-top: 50px;
    padding-left: 3em;
    align-content: start;
    border-radius: 4em;
    a{
        color: $gray-dark;
        margin-right: 0.5em;
        margin-bottom: 4em;
        border: 1px $gray-dark solid;
        line-height: 3em;
        padding: 0.5em 1em;
        border-radius: 4em;
        white-space: nowrap;
        &:hover{
            color: $white;
            border: 1px solid $white;
        }
    }
        
}

// Página Sobre Mí
.heroImg{
    width: 100%;
    -webkit-box-shadow: 7px 7px 20px 7px rgba(0,0,0,0.25); 
    box-shadow: 7px 7px 20px 7px rgba(0,0,0,0.25);
    border-top-right-radius: 4em;
    border-bottom-left-radius: 4em;
  }

  .aboutMeContainer p{
    font-size: 20px;
    line-height: 24px;
  }

  .favVideos{
    width: 100%;
  }

// Página de servicios
.introText{
    font-size: 18px;
    line-height: 20px;
  }

  .serviceContainer{
    margin: 75px 0px;
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
  
  .serviceItem{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .icon{
    height: 75px;
    width: 75px;
    align-self: center;
    margin: 25px;
  }
  
  .icon:hover{
    transform: scale(1.1, 1.1);
  }
  
  .serviceTitle{
    color: #EF476F;
    font-weight: 700;
    font-size: 22px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .serviceDescription{
    text-align: left;
    margin-bottom: 20px;
    padding: 0px 20px;
    line-height: 18px;
    align-self: center;
  }

.service__plans{
    margin: 50px 0px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.service__item{
    background-color: $yellow;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 25px 0px;
    border-radius: 4em;
    -webkit-box-shadow: 7px 7px 20px 7px rgba(0,0,0,0.25); 
    box-shadow: 7px 7px 20px 7px rgba(0,0,0,0.25);
    p{
        text-align: center;
    }
}

.service__title{
    color: $white;
    font-size: 40px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    font-weight: 700;
}

.service__badge{
    background-color: $pink;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 10px 15px;
}

.service__additional{
    color: $green;
}

.service__price{
    text-align: center;
    font-size: 30px;
    color: $white;
    font-weight: 500;
    background-color: $green;
    border-radius: 4em;
    padding: 10px 15px;
    width: 75%;
    align-self: center;
}

.serviceCTA{
    font-size: 20px;
    text-align: center;
    width: 250px;
    background-color: #06D6A0;
    align-self: center;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 4em;
    a{
        text-decoration: none;
        color: #fff;
        &:hover{
            color: $gray-dark;
        }
    }
  }

// Sitemap
.sitemap__container{
    background-color: $yellow;
    color: $gray-dark;
    font-size: 1.5em;
    margin: 25px 0px 75px 0px;
    padding: 25px;
    border-radius: 7px;
    a{
        color: $gray-dark;
        &:hover{
            color: $pink;
        }
    }
}

// 404 page
.errorpage{
    background: linear-gradient(45deg, rgba(239,71,111,0.5) 0%, rgba(6,214,160,0.5) 100%), url(https://images.pexels.com/photos/800789/pexels-photo-800789.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.errorpage__container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 75vh;
    width: 60vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0,0.35);
    margin-top: 100px;
}

.errorpage__heading{
    font-size: 7em;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    font-weight: 700;
}

.errorpage__subheading{
    font-size: 3em;
    text-transform: uppercase;
    color: $white;
    text-align: center;
    font-weight: 700;
}

.errorpage__text{
    font-size: 1.5em;
    color: $white;
    font-weight: 500;
    text-align: center;
}

.errorpage__button{
    width: 250px;
    align-self: center;
    margin-top: 75px;
    color: $white;
}

// Página de Contacto
.formCTA{
    background-color: $pink;
    border: none;
    width: 160px;
    height: 50px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-align: center;
    align-self: end;
    margin-right: 15px;
    border-radius: 4em; 
    margin-bottom: 1em;
    &:hover{
        background-color: $green;
    }
  }
  
  .formReset{
    background-color: $gray-light;
    border: none;
    width: 160px;
    height: 50px;
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    text-align: center;
    align-self: end;
    border-radius: 4em;
    margin-bottom: 1em;
    &:hover{
        background-color: $gray-dark;
    }
  }

// Responsive - Tablets

@media only screen and (max-width: 768px){
    .container{
        width: 80%;
    }

    .blog__article__container{
        padding: 0;
    }

    .hero__title{
        margin-top: 0.5em;
    }

    .blog__banner{
        height: 60vh;
    }

    .blog__banner__title{
        font-size: 3em;
    }
}

// Responsive - Mobile

@media only screen and (max-width: 480px){
   .container{
       width: 90%;
   }
   .hero__title{
       font-size: 60px;
       line-height: 50px;
       margin-top: 25px;
   }
   .blog__banner__title{
       font-size: 45px;
   }

   h2{
       font-size: 45px;
   }

   .header__logo{
       height: 60px;
   }

   .card__image{
    border-top-right-radius: 2em;
    border-bottom-left-radius: 2em;
   }

   .blog__banner{
       height: 50vh;
   }

   .blog__banner__title{
    font-size: 3em;
}
    .blog__article__img{
        border-top-right-radius: 2em;
        border-bottom-left-radius: 2em;
    }
}
.footerContainer{
    flex-direction: column;
  }

  .footerColumn{
    padding: 15px;
  }

  .footerColumn p{
    font-size: 14px;
  }

  .footerBtmContainer ul{
    flex-direction: column;
    align-items: center;
  }

  .footerBtmContainer ul li{
    padding-left: 0;
  }

  h1{
    font-size: 55px;
    line-height: 45px;
  }

  .heroImgHome{
    background-position: center top;
  }